body {
	background-image: url(https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-noise.png), url("https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-light.png");
	background-repeat: repeat, no-repeat;
	background-attachment: fixed, fixed;
	background-position: center center, center center;
	background-size: auto, cover;
	-webkit-background-size: auto, cover;
	-moz-background-size: auto, cover;
	-o-background-size: auto, cover;
	min-height: 100%;
	height: auto;
	background-color: rgba(0,0,0,.0);
}
html {
	min-height: 100%;
	height: auto;	
}
option.ng-star-inserted {
    color: black !important;
}
input#search, .form-control-custom {
	background-color: rgba(255,255,255,.08) !important;
}
group-addon {
	background-color: rgba(0,0,0,.2);
}
.navbar-default {
	background-color: rgba(0,0,0,.6);
}
.navbar-default .navbar-brand {
	color: #ebebeb;
}
a>h4 {
	color: white;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: rgba(204,123,25,0);
	color: rgb(249, 190, 3);
	border-radius: 4px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background: rgba(204,123,25,1);
	border: 0px solid rgba(0,0,0,0.00);
	margin-bottom: 1.5px;
	border-radius: 4px;
}
.btn-primary-outline{
	color: white !important;
	border-color: white !important;
}
.btn-info-outline{
	color: white !important;
	border-color: white !important;
}
.btn-info-outline:hover{
    background-color: rgba(255,255,255,.25) !important;
    border-color: rgba(255,255,255,.25) !important;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: white;
	background-color: rgba(255,255,255,.08);
}
.nav-tabs>li>a:hover {
	border-color: rgba(255,255,255,.08);
}
.nav>li>a:focus, .nav>li>a:hover {
	
	border-radius: 4px;
	background-color: rgba(255,255,255,.08);
	border: 0px solid rgba(0,0,0,0.00);
}
.nav>li>a:focus, .nav>li>a{
	border: 0px solid rgba(0,0,0,0.00);
}
.input-addon, .input-group-addon, i.fa.fa-search {
	color: white;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: rgba(255,255,255,.08);
}
.dropdown-menu {
	background-color: rgba(0,0,0,.85);
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
	background-color: rgba(255,255,255,.15);
}
.dropdown-menu .divider, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .input-group-addon, .input-group-addon.right-radius{
	background-color: rgba(255,255,255,.08);
}
.ui-state-default {
	border: none !important;
}
.ui-state-active {
	background-color: rgba(255,255,255,.15) !important;
	color: white !important;
}
a:focus, a:hover {
	color: white;
}
a {
	color: rgba(255,255,255,.25);
}
.btn-primary-outline.active, .btn-primary-outline.focus, .btn-primary-outline:active, .btn-primary-outline:focus, .btn-primary-outline:hover, .open>.btn-primary-outline.dropdown-toggle{
	background-color: rgba(255,255,255,.25) !important;
	border-color: rgba(255,255,255,.25) !important;
}
.input-group-addon .btn-group .btn{
	border: 1px solid hsla(0,0%,100%,.25)!important;
}
.btn-group-sm>.btn, .btn-sm{
	padding: 9px 10px;
}
.label{
     color: #d7d7d7;	
}
.label-info{
	background-color: rgba(255,255,255,.15);
}
.label-success {
	background-color: rgba(92,182,92,.30);
}
.label-danger {
	background-color: rgba(217,83,79,.35);
}
.label-primary {
	background-color: rgba(223,105,26,.35);
}
.ui-widget-content {
	border: none !important;
	background: none !important;
}
.ui-dialog .ui-dialog-content{
	background-color:#252424 !important;
}
a.active {
    background-color: rgba(255,255,255,.08);
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(255,255,255,.08);
}
.table-hover>tbody>tr:hover {
    background-color: rgba(255,255,255,.15);
}
.ui-sidebar-left.ui-sidebar-active, .ui-sidebar-right.ui-sidebar-active{
	background-image: url(https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-noise.png), url("https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-light.png") !important;
	background-repeat: repeat, no-repeat !important;
	background-attachment: fixed, fixed !important;
	background-position: center center, center center !important;
	background-size: auto, cover !important;
	-webkit-background-size: auto, cover !important;
	-moz-background-size: auto, cover !important;
	-o-background-size: auto, cover !important;
}
.btn-success-outline{
	color: white !important;
	background-color: rgba(92,182,92,.75);
	border-color: #5cb85c !important;
}
.btn-split .btn.dropdown-toggle{
	padding: 7.1px 10px;
}
.btn-warning-outline{
	border-color: white !important;
	color: white !important;
}
.ui-inputtext{
	background-color: rgba(255,255,255,.08);
}
.card-header {
	background-color: rgba(255,255,255,.08);
}
.panel {
    background-color: rgba(255,255,255,.08);
}
.nav-tabs {
    border-bottom: none;
}
.app-loading-container{
	background-image: url(https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-noise.png), url("https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-light.png");
	background-repeat: repeat, no-repeat;
	background-attachment: fixed, fixed;
	background-position: center center, center center;
	background-size: auto, cover;
	-webkit-background-size: auto, cover;
	-moz-background-size: auto, cover;
	-o-background-size: auto, cover;
}
table.table>thead>tr>th.active {
    background-color: rgba(255,255,255,0.2);
}
table.table>thead>tr>th {
    padding-bottom: 25px;
    padding-top: 0px;
}
.navbar-brand {
    padding-left: 20px !important;
}
ul.nav.navbar-nav.navbar-right li:first-child {
    display: none !important;
}
ul.nav.navbar-nav.donation {
    display: none !important;
}
#tvList .ui-treetable-row .ng-star-inserted br {
    display: none;
}
p.tv-overview {
    padding-top: 15px;
}
@media only screen and (max-width: 768px){
.navbar-collapse{
	background: rgba(0,0,0,.91);
}
}
@media (min-width: 768px){
.navbar-nav>li>a {
    padding-top: 1.5px !important;
    padding-bottom: 1.5px !important;
    padding-left: 17px;
    padding-right: 17px;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 1px;
    margin-right: 1px;
    border-radius: 4px;
}
.navbar-brand{
    padding-top: 19.5px !important;
    padding-bottom: 19.5px !important;
}
}
.dropdown-menu a .fa, .navbar .nav a .fa {
    font-size: 105% !important;
    top: 0px !important;
}
