.application .theme--dark.v-toolbar, .theme--dark .v-toolbar{
	background-color: #162027 !important;
}
html{
	background-image: url(https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-noise.png), url("https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-light.png");
	background-repeat: repeat, no-repeat;
	background-attachment: fixed, fixed;
	background-position: center center, center center;
	background-size: auto, cover;
	-webkit-background-size: auto, cover;
	-moz-background-size: auto, cover;
	-o-background-size: auto, cover;
	min-height: 100%;
	height: auto;
	background-color: rgba(0,0,0,.0);
}
main{
	background-image: url(https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-noise.png), url("https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-light.png");
	background-repeat: repeat, no-repeat;
	background-attachment: fixed, fixed;
	background-position: center center, center center;
	background-size: auto, cover;
	-webkit-background-size: auto, cover;
	-moz-background-size: auto, cover;
	-o-background-size: auto, cover;
	min-height: 100%;
	height: auto;
	background-color: rgba(0,0,0,.0);
}
.application .theme--dark.v-card, .theme--dark .v-card {
	background-color: rgba(0,0,0,0.2) !important;
}
.v-navigation-drawer {
    background-image: url(https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-noise.png), url(https://raw.githubusercontent.com/leram84/layer.Cake/master/Resources/blur-light.png) !important;
    background-repeat: repeat, no-repeat !important;
    background-attachment: fixed, fixed !important;
    background-position: center center, center center !important;
    background-size: auto, cover !important;
    -webkit-background-size: auto, cover !important;
    -moz-background-size: auto, cover !important;
    -o-background-size: auto, cover !important;
    min-height: 100% !important;
    height: auto !important;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.2) !important;
}
.v-btn--block {
    width: 15% !important;
    margin-left: auto;
    margin-top: 12px;
    margin-right: 15px;
}
.pr-1 {
    padding-right: 15px!important;
    padding-left: 15px!important;
}
.v-toolbar__items a {
    display: none;
}
.v-icon.v-icon.v-icon--link {
    padding-left: 25px;
}
.flex.lg4{
    padding-bottom: 20px;
}
.v-navigation-drawer .pa-2 {
    display: none !important;
}
.v-navigation-drawer .pa-1 > div:nth-of-type(1) {
    padding: 10px 0 !important;
}
.v-menu__content .v-list{
	background: rgba(0,0,0,0.8) !important	
}
.pa-3.v-card {
    background-color: rgba(0,0,0,0.8) !important;
}
.v-toolbar__content, .v-toolbar__extension {
    height: 60px !important;
}
.application .theme--dark.v-list, .theme--dark .v-list {
    background: rgba(255,255,255,0.1);
}
.v-dialog.v-dialog--active .v-card {
    background-color: rgba(0,0,0,0.8) !important;
}
.v-content{
    padding-top: 60px !important;
    overflow: hidden !important;
}
.ptplayer .video-js {
    height: calc(100vh - 60px);
}
@media only screen and (min-width: 600px){
	.ma-1 {
 	   padding-left: 10px;
	}
}


/* BBF in Organizr customizations start here */

button.v-btn.theme--dark.primary {
    display: none;
}
img.ma-1 {
    display: none;
}
.flex.xs12.md8.lg4.xl6 {
    display: none;
}
.v-toolbar__content, .v-toolbar__extension {
    padding-left: 19px !important;
}
.v-icon.v-icon.v-icon--link {
    padding-left: 0px;
}
