:root {
	--main-bg-color: rgba(0,0,0,0);
}


/* Base Layer */

.x-viewport,
.x-viewport body {
	background-color: var(--main-bg-color);
}

html {
	min-height: 100%;
	height: auto;
}

html,
body {
	color: #FFF;
	font-size: 11px;
	font-family: Open Sans Semibold, Helvetica Neue, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-image: url("https://archmonger.github.io/Blackberry-Flat/Resources/blur-noise.png"), url("https://archmonger.github.io/Blackberry-Flat/Resources/blur-light.png");
	background-repeat: repeat, no-repeat;
	background-attachment: fixed, fixed;
	background-position: center center, center center;
	background-size: auto, cover;
	-webkit-background-size: auto, cover;
	-moz-background-size: auto, cover;
	-o-background-size: auto, cover;
	min-height: 100%;
	height: auto;
	background-color: rgba(0, 0, 0, .0);
}


/* Navbar */

.x-panel-noborder .x-panel-tbar-noborder .x-toolbar {
	background: #162027;
	height: 60px;
	border: none;
	padding: 15px 15px 15px 10px;
	box-sizing: border-box;
	width: 100% !important;
}

.x-btn button {
	color: hsla(0,0%,100%,.7);
	font-size: 13px;
	font-family: Open Sans Semibold, Helvetica Neue, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.x-btn-text-icon .x-btn-icon-small-left .x-btn-text{
	transition-duration: 0.25s;
	transition-timing-function: ease;
}

#tbar-deluge-text.x-item-disabled * {
	color: white !important;
	font-size: 13px !important;
	font-family: Open Sans Semibold, Helvetica Neue, Helvetica, Arial, sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.x-btn-over button{
	color: #FFF !important;
}

.x-btn-over {
	border-radius: 4px;
}

.x-btn-click .x-btn-text {
	color: #FFF;
}

.x-btn {
	padding: 4px 5px;
}

.x-btn-tl,
.x-btn-tr,
.x-btn-tc,
.x-btn-ml,
.x-btn-mr,
.x-btn-mc,
.x-btn-bl,
.x-btn-br,
.x-btn-bc {
	background-image: none;
}

.x-toolbar .xtb-sep {
	display: none;
}


/* Webpage Background */

.x-panel-body {
	background-color: var(--main-bg-color);
	border: none;
}


/* Right Cell */

.x-grid3 {
	background-color: var(--main-bg-color);
}

.x-progress-bar {
	background-image: none;
	background: rgba(204, 123, 25, 1);
	border-color: rgba(204, 123, 25, 1);
	border-radius: 3px;
	transition: width 1.25s;
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.x-progress-inner {
	background-image: none;
	background-color: rgba(0, 0, 0, 0);
}

.x-progress-wrap {
	border: none;
	border-radius: 20px;
}

.x-progress-text-back {
	color: rgba(255, 255, 255, 0.6);
}

.x-grid3-hd-row td {
	border-left: 0px;
	border-right-color: rgba(255,255,255,.1);
}


/* Left Cell */

.x-accordion-hd {
	background: rgba(255, 255, 255, 0.08);
	color: white !important;
	font-size: 12px !important;
	font-family: Open Sans Semibold, Helvetica Neue, Helvetica, Arial, sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.x-panel-noborder .x-panel-header-noborder {
	border-width: 0px;
}

.x-panel-header {
	background-image: none;
	color: #FFF;
	border: none;
	font-family: Open Sans Semibold, Helvetica Neue, Helvetica, Arial, sans-serif !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.x-list-selected {
	background-color: rgb(204, 123, 25) !important;
	border-radius: 4px;
}

.x-deluge-filter {
	background-image: none !important;
}

.x-list-over {
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 4px;
}


/* Left Cell Minimized */

.x-layout-collapsed {
	background-color: var(--main-bg-color);
	border-color: var(--main-bg-color);
}

.x-panel-header.x-unselectable {
	background-color: var(--main-bg-color);
	border-color: var(--main-bg-color);
}


/* Bottom Cell */

.x-tab-panel-body {
	border: none;
	background-color: rgba(0,0,0,0);
}

.x-tab-strip-wrap {
	background-color: rgba(0,0,0,0);
}

.x-tab-panel-header{
	background-color: rgba(0,0,0,0);
}

.x-panel-floating{
	background-color: #2c3135;
	padding-left: 10px;
	padding-right: 10px;
}

.ext-el-mask {
	background: rgba(0, 0, 0, 0);
	background-color: none;
}

.x-tree-node {
	color: #FFF !important;
}

.x-tree-node a span,
.x-dd-drag-ghost a span {
	color: #FFF;
}

.x-tree-node .x-tree-selected {
	background-color: rgba(255, 255, 255, 0.0) !important;
	color: rgb(249, 190, 3);
}

.x-tree-selected a span{
	color: rgb(249, 190, 3);
}

.x-tree-node .x-tree-node-over {
	background-color: rgba(255, 255, 255, 0.05);
}

.x-treegrid-root-table,
.x-treegrid-col {
	border-color: rgb(0, 0, 0, 0);
}

.x-grid3-hd-inner{
	font-family: Open Sans Semibold,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.x-grid3-header {
	background-color: rgba(0, 0, 0, 0.15);
	background-image: none;
	padding: 0px;
}

td.x-grid3-hd-over .x-grid3-hd-inner,
td.sort-desc .x-grid3-hd-inner,
td.sort-asc .x-grid3-hd-inner,
td.x-grid3-hd-menu-open .x-grid3-hd-inner {
	background-image: none;
	background-color: rgba(255, 255, 255, 0.1);
}

ul.x-tab-strip-top {
	background-image: none;
	background-color: var(--main-bg-color);
	border: none;
}

.x-tab-panel-header,
.x-tab-panel-footer {
	border: none;
	padding: 0px;
}

.x-tab-strip-top .x-tab-right,
.x-tab-strip-top .x-tab-left,
.x-tab-strip-top .x-tab-strip-inner {
	background-image: none;
	background-color: rgba(0, 0, 0, 0);
}

.x-tab-strip-text,
.x-tab-strip span.x-tab-strip-text {
	color: #FFF;
	padding-bottom: 5px;
	font-size: 11px;
	font-family: Open Sans Semibold, Helvetica Neue, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.x-grid3-row {
	border: none;
	color: hsla(0,0%,100%,.8);
}

.x-grid3-row-alt {
	background-color: rgba(255, 255, 255, 0);
}

.x-grid3-row-over {
	background-color: rgba(255, 255, 255, 0.0);
	color: #FFF;
	background-image: none;
}

.x-grid3-row-selected {
	background-color: rgba(255,255,255,.05) !important;
	background-image: none;
	color: #FFF;
}

.x-grid3-row td, .x-grid3-summary-row td{
	font-family: Open Sans Semibold,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.x-fieldset legend {
	color: rgba(255, 255, 255, 0.6);
}


/* Bottom Toolbar */

.x-toolbar {
	background-color: rgba(0,0,0,0.0);
	background-image: none;
}

.x-panel-noborder .x-panel-bbar-noborder .x-toolbar {
	border-color: rgba(0, 0, 0, 0);
}

.x-btn-menu-active .x-btn-text {
	color: #FFF;
}

.x-btn-mc em.x-btn-arrow{
	background-image: none;
	padding-right: 0px;
}

/* Dropdown Menus */

a.x-menu-item img {
	display: none;
}

.x-menu li {
	line-height: 100%;
	background-color: rgba(0,0,0,0);
	border: none !important;
}

a.x-menu-item {
	background-color: rgba(0,0,0,0);
	border: none !important;
}

.x-menu{
	background-color: #191a1c;
	border: none;
	border-radius: 4px;
}

.x-menu-list{
	background-color: #191a1c;
	border-radius: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 0px;
	padding-right: 0px;
}

a.x-menu-item{
	color: hsla(0,0%,100%,.7);
	font-size: 13.25px;
	font-family: Open Sans Semibold,Helvetica Neue,Helvetica,Arial,sans-serif;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 7px;
	padding-bottom: 7px;
}

a.x-menu-item:hover{
	color: #FFF;
}
.x-menu-sep-li{
	display: none;
}

.x-menu-item-active a.x-menu-item{
	border: none;
	background-color: hsla(0,0%,100%,.08);
	color: #FFF;
	margin: 0px;
}

.x-menu-list-item{
	background-image: none !important;
	border: none;
	margin: 0px;
	padding: 0px;
}

/* Bottom Toolbar */

.x-window-mc {
	border: none;
	background-color: #3b4247;
}

.x-panel-bbar.x-panel-bbar-noborder {
	position: fixed !important;
	bottom: 0px !important;
}

/* Bottom Toolbar */

.x-window-mc {
	border: none;
	background-color: #3b4247;
}

.x-panel-bbar.x-panel-bbar-noborder {
	position: fixed !important;
	bottom: 0px !important;
}



/* Preferences */

.x-window-tl .x-window-header {
	color: #FFF;
}

.x-window-tl {
	background-image: none;
	background-color: #3b4247;
	border-radius: 5px 5px 0px 0px;
}

.x-window-tr {
	background-image: none;
	background-color: rgba(0, 0, 0, 0);
}

.x-window-tc {
	background-image: none;
	background-color: rgba(0, 0, 0, 0);
}

.x-window-mr {
	background-image: none;
	background-color: #3b4247;
}

.x-window-ml {
	background-image: none;
	background-color: #3b4247;
}

.x-window-bl {
	background-image: none;
	background-color: #3b4247;
	border-radius: 0px 0px 5px 5px;
}

.x-window-br {
	background-image: none;
	background-color: rgba(0, 0, 0, 0);
}

.x-window-bc {
	background-image: none;
	background-color: rgba(0, 0, 0, 0);
}

.x-window-plain .x-window-body {
	border: none;
}

.x-window-plain .x-window-mc {
	background-color: #3b4247;
	border: none;
}

.x-combo-list .x-combo-selected{
	color: #000;
}

.x-combo-list .x-combo-list-item{
	color: #000;
}

.x-toolbar{
	border: none !important;
}

/* Connection Manager */

.x-panel-bbar .x-toolbar,
.x-panel-tbar .x-toolbar {
	border-color: #272a2d;
}

.x-list-header {
	background-image: none;
	background-color: #272a2d;
}

.x-list-header-inner div em {
	border-left-width: 0px;
}


/* Login Screen */

body.x-body-masked .x-window-plain .x-window-mc {
	background-color: #3b4247;
}


/* Hide Button Icons */

.x-btn-text {
	background-image: none !important;
	padding-left: 0px !important;
}


/* Scrollbar */

::-webkit-scrollbar {
	width: 11px;
	height: 11px;
}

::-webkit-scrollbar-track {
	background: #252729;
}

::-webkit-scrollbar-thumb {
	background: #162027;
}

::-webkit-scrollbar-thumb:hover {
	background: #16202794;
}

/* Standardized Buttons */
.x-btn-noicon .x-btn-small .x-btn-text {
    text-transform: uppercase;
    font-family: Open Sans Semibold,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 13.25px;
    line-height: 13.25px;
}
.x-panel-fbar .x-toolbar-ct tbody tr .x-toolbar-left table .x-toolbar-left-row .x-toolbar-cell .x-btn,
.x-panel-fbar .x-toolbar-ct tbody tr .x-toolbar-right .x-toolbar-right-ct tbody tr td table tbody .x-toolbar-right-row .x-toolbar-cell .x-btn{
    background-color: hsla(0,0%,100%,.25);
    border-radius: 4px;
}
.x-panel-fbar .x-toolbar-ct tbody tr .x-toolbar-left table .x-toolbar-left-row .x-toolbar-cell .x-btn:hover,
.x-panel-fbar .x-toolbar-ct tbody tr .x-toolbar-right .x-toolbar-right-ct tbody tr td table tbody .x-toolbar-right-row .x-toolbar-cell .x-btn:hover{
    background-color: hsla(0,0%,100%,.3);
}

/* BBF in Organizr customizations start here */

#tbar-deluge-text{
	display: none !important;
}

.x-panel-noborder .x-panel-tbar-noborder .x-toolbar{
	padding-left:14px;
}

@media only screen and (min-width: 768px){
	.x-panel-noborder .x-panel-tbar-noborder .x-toolbar{
		padding-top: 7.5px;
		padding-bottom: 7.5px;
	}

	.x-panel-noborder .x-panel-tbar-noborder .x-toolbar{
		height: 45px;
	}
}
