/* Body */
body {
	background-image: url("https://archmonger.github.io/Blackberry-Flat/Resources/blur-noise.png"), url("https://archmonger.github.io/Blackberry-Flat/Resources/blur-light.png");
	background-repeat: repeat, no-repeat;
	background-attachment: fixed, fixed;
	background-position: center center, center center;
	background-size: auto, cover;
	-webkit-background-size: auto, cover;
	-moz-background-size: auto, cover;
	-o-background-size: auto, cover;
	min-height: 100%;
	height: auto;
	background-color: rgba(0, 0, 0, .0);
}
.body-container{
	top: 60px;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small{
	color: hsla(0,0%,100%,.45);
}

/* Navbar */
.navbar{
	background-color: #162027;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.navbar-brand{
	padding-left: 16px;
}
.navbar-collapse.collapse{
	height: 60px !important;
}
.navbar-nav>li>a{
	padding-top: 20px;
	padding-bottom: 20px;
	color: hsla(0,0%,100%,.7);
}
.navbar-right{
	transform: translateX(10px)
}
#search_form{
	padding-top: 13px;
	padding-bottom: 13px;
}
#search_form #search_button.btn-inactive{
	background: rgba(0,0,0,0)
}
.fa-lg{
	font-size: 16px;
}
.nav > li > a:hover, .nav > li > a:focus{
	background-color: rgba(0,0,0,0) !important;
	color: #FFF;
	border-radius: 4px;
}
.nav > li.active > a, .nav > li.active > a:hover, .nav > li.active > a:focus{
	color: #f9be03;
	background-color: rgba(0,0,0,0);
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
	background-color: rgba(0,0,0,0);
}

/* Homepage */
.btn-dark{
	background-color: rgba(0,0,0,.15);
	border: none;
}
.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group{
	margin-left: 0px;
}
.btn-dark:hover{
	background-color: hsla(0,0%,100%,.08);
}
.btn-dark:active, .btn-dark.active, .open > .dropdown-toggle.btn-dark{
	background-color: rgba(204, 123, 25, 1);
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	background: hsla(0,0%,100%,.25);
}
.btn-dark:active:hover, .btn-dark.active:hover, .open > .dropdown-toggle.btn-dark:hover, .btn-dark:active:focus, .btn-dark.active:focus, .open > .dropdown-toggle.btn-dark:focus, .btn-dark:active.focus, .btn-dark.active.focus, .open > .dropdown-toggle.btn-dark.focus{
	background-color: rgba(204, 123, 25, 1);
}
.text-muted{
    color: hsla(0,0%,100%,.45);
}

/* Dropdown Menu */
.dropdown-menu{
	background-color: #191a1c;
	border-radius: 4px !important;
}
.dropdown-menu > li > a{
	color: hsla(0,0%,100%,.7);
	font-family: Open Sans Semibold,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 13.25px;
	padding-top: 4px;
	padding-bottom: 4px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 22.2857px;
}
.dropdown-menu .divider{
	display: none;
}
.dropdown-menu li a i{
	display: none;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
	background-color: hsla(0,0%,100%,.08);
	color: #FFF;
}

/* Settings Menu */
.small-muted{
	color: hsla(0,0%,100%,.7)
}
a.no-highlight, .settings-warning a{
	color: #cc7b19;
}
.card-back-full{
	background-color: rgba(0,0,0,0)
}
body{
	color: hsla(0,0%,100%,.8);
	font-family: Open Sans Semibold,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.nav-settings > li{
	background-color: rgba(0,0,0,.15);
	font-size: 13.25px;
	border: none;
}
.nav-settings > li > a{
	border: none;
}
.nav-settings > .active > a, .nav-settings > .active > a:hover, .nav-settings > .active > a:focus{
	background-color: rgba(0,0,0,0);
	color: #f9be03;
}
.nav-settings > li > a:hover, .nav-settings > li > a:focus{
	background-color:hsla(0,0%,100%,.08);
}
.help-block{
	color: hsla(0,0%,100%,.45);
}
.settings-warning{
	color: #f9be03;
}
.form-control[readonly]{
	background-color: hsla(0,0%,100%,.25);
}
.btn-form{
	background-color: rgba(0,0,0,.15);
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group{
	margin-left: 0px;
}
.btn-form:hover{
	background-color:hsla(0,0%,100%,.08);
}
.react-selectize.root-node .react-selectize-control, .selectize-control.form-control .selectize-input{
	background-color: hsla(0,0%,100%,.25) !important;
}
select.form-control, div.form-control .selectize-input{
	background-color: hsla(0,0%,100%,.25);
}
.stacked-configs > li{
	background-color: rgba(0,0,0,.15);
}
.stacked-configs > li:hover, .stacked-configs > li > span:hover, .stacked-configs > li > span:focus{
	background-color: hsla(0,0%,100%,.08);
}
.stacked-configs > li > span{
	border: none;
	color: hsla(0,0%,100%,.7);
}
.stacked-configs > li > span > a.toggle-left, .stacked-configs > li > span > span.toggle-left{
	color: #FFF;
}
#plexpy-notifiers-table .friendly_name, #notifier-config-modal span.notifier_id, #plexpy-newsletters-table .friendly_name, #newsletter-config-modal span.newsletter_id, #plexpy-mobile-devices-table .friendly_name, #mobile-device-config-modal span.notifier_id{
	color: hsla(0,0%,100%,.45);
}
.card{
	background-color: rgba(0,0,0,.15);
	border-top: none;
	border-bottom: 1px solid rgba(0,0,0,.15)
}
.card-handle{
	background-color: rgba(3,3,3,.15);
	color: hsla(0,0%,100%,.3);
	line-height: 36px;
}
.card label{
	font-size: 13.25px;
}

/* Popups */
.close, .close:hover{
	color: #FFF;
}

/* Libraries */
.table-card-back, .table-card-header, .summary-container .table-card-header, .summary-container .table-card-back{
	background-color: rgba(0,0,0,0);
}
.btn-danger.btn-edit{
	background-color: #cc7b19;
	border: none !important;
	color: #FFF;
}
.btn-danger.btn-edit:hover, .btn-danger.btn-edit:active{
	background-color: #e3891c;
}
table.display thead th{
	background-color: rgba(0,0,0,.15);
}
table.display thead tr:hover{
		background-color: rgba(0,0,0,0);
}
tr.odd{
	background-color: rgba(0,0,0,.25);
}
tr.even{
	background-color: rgba(0,0,0,.15);
}
table.display tr:hover{
	background-color: rgba(255,255,255,.05);
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus{
	background-color: rgba(0,0,0,.15);
	color: hsla(0,0%,100%,.45);
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{
	background-color: rgba(255,255,255,.05);
	color: #FFF;
}
.pagination > li > a, .pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus{
	border: none !important;
}
.pagination > li > a{
	color: hsla(0,0%,100%,.45);
}
.pagination > li > a{
	background-color: rgba(0,0,0,0.15);
}
.summary-content-wrapper {
	background-image: none;
}
.user-info-nav > .active > a{
	color: #f9be03;
}
.summary-navbar{
	background-color: rgba(0,0,0,0.15);
}
.dashboard-recent-media-metacontainer h3.text-muted a{
	color: hsla(0,0%,100%,.45);
}
.dashboard-recent-media-metacontainer h3.text-muted a:hover{
	color: #FFF;
}
.summary-content-title h1{
	color: hsla(0,0%,100%,.8);
}
.summary-content-summary{
	color: hsla(0,0%,100%,.7);
}
.summary-content-actors, .summary-content-genres{
	color: hsla(0,0%,100%,.7);
}
.summary-content-actors li, .summary-content-genres li{
	color: hsla(0,0%,100%,.45);
}
.summary-content{
	color:hsla(0,0%,100%,.45);
}
.summary-navbar-list .breadcrumb a{
	color:hsla(0,0%,100%,.45);
}

/* History */
select, .react-selectize.bootstrap3.root-node .react-selectize-control{
	background-color:hsla(0,0%,100%,.25);
}
.table-card-header{
	border: none;
}

/* Graphs */
.graphs-instance{
	background-color: rgba(0,0,0,.15);
}
