/* Created by Blackberry Themes */
@media screen and (min-width: 767px) {
  div#page-wrapper {
    margin-top: 0 !important;
    height: 100%;
  }
  .iframe {
    height: 100vh;
  }
  .navbar {
    display: none;
  }
  .profile-pic {
    margin-bottom: 0px !important;
    line-height: 30px;
  }
  #side-menu .dropdown {
    height: 45px;
    margin-bottom: 10px;
  }
  .profile-pic>.profile-image {
    margin-right: 0px;
  }
  .profile-pic>b, .profile-pic>.caret {
    display: none;
  }
  #side-menu .u-img {
    display: none;
  }
  /* Refresh Button */
  .sidebar-nav>#side-menu>li:last-child>a {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
  }
  #side-menu>li>a, #side-menu>li>ul>li>a {
    width: 45px;
  }
  #side-menu li>a>.pingTime {
    display: none;
  }
  /* Have dropdown menu be inline */
  #side-menu .dropdown-menu {
    position: relative;
    top: 0px;
    background: transparent !important;
    box-shadow: none !important;
    border: none;
  }
  #side-menu .dropdown-menu .u-text {
    display: none;
  }
  #side-menu .dropdown-menu a>span {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  #side-menu>.dropdown {
    display: none;
  }
  .sidebar-nav>#side-menu>li:last-child {
    display: none;
  }
}