/* It is recommended to enable Alternate Homepage Titles and Minimal Login Screen */


/* Remove Unneeded Navbar Items */

li.hidden-xs {
	display: none;
}

#languageDropdown {
	display: none;
}

.navbar-left li:nth-child(3) {
	display: none;
}

i.ti-search {
	display: none;
}


/* Remove Unneeded Ombi indicators */

.inside-request-div {
	display: none;
}

.inside-over-request-div {
	display: none;
}


/* Remove Unneeded Sidebar Buttons */

li#github {
	display: none;
}

li#menu-Organizr-Support {
	display: none;
}


/* Dropdown User Menu */

.navbar-top-links .dropdown-user .dw-user-box .u-img img {
	display: none;
}

.navbar-top-links .dropdown-user .dw-user-box {
	padding-top: 0px;
}

.dropdown-user li.divider {
	display: none;
}


/* Navbar Styling */

.navbar {
	position: fixed;
	width: 100%;
}

.navbar-header {
	background: #162027;
}

.navbar-top-links>li>a:hover {
	background: rgba(255, 255, 255, 0.05);
}

.navbar-top-links>li>a {
	margin-right: 30px;
	padding: 0 0;
	color: #dedede;
}

.navbar-top-links>li>a:hover {
	background-color: rgba(0, 0, 0, 0);
	color: #FFF;
}


/* Page Fixes */

.fix-header #page-wrapper {
	margin-top: 40px;
}

div#internal-Settings {
	padding-top: 40px;
}

#homepage-items {
	padding-top: 65px !important;
	padding-left: 45px;
	padding-right: 45px;
}

.nav>li>a>img {
	width: 24px;
}

.top-left-part a {
	padding-left: 20px;
}


/* Sidebar */

#side-menu li a {
	color: #afb1b7;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	margin-bottom: 10px;
}

.sidebar .sidebar-head {
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: rgba(0, 0, 0, 0);
}

.sidebar .sidebar-head h3 {
	margin-top: 6px;
	margin-bottom: 0px;
	color: #97999f;
}

#side-menu {
	padding-top: 40px;
}

.sidebar-nav {
	background-color: rgba(0, 0, 0, 0.2);
}

.navbar-default.sidebar {
	background-image: url("https://archmonger.github.io/Blackberry-Flat/Resources/blur-noise.png"), url("https://archmonger.github.io/Blackberry-Flat/Resources/blur-light.png");
	background-repeat: repeat, no-repeat;
	background-attachment: fixed, fixed;
	background-position: center center, center center;
	background-size: auto, cover;
	-webkit-background-size: auto, cover;
	-moz-background-size: auto, cover;
	-o-background-size: auto, cover;
	min-height: 100%;
}

.sidebar,
.sidebar .sidebar-head {
	box-shadow: none;
}

#side-menu>li>a.active,
#side-menu>li>ul>li>a.active {
	box-shadow: none;
	background-color: rgba(255, 255, 255, .05) !important;
}

#side-menu>li>a:hover,
#side-menu>li>a:focus {
	background-color: rgba(255, 255, 255, .02);
}

.tabLoaded {
	filter: none;
	-webkit-filter: none;
}


/* Body */

#page-wrapper,
html {
	background-image: url("https://archmonger.github.io/Blackberry-Flat/Resources/blur-noise.png"), url("https://archmonger.github.io/Blackberry-Flat/Resources/blur-light.png");
	background-repeat: repeat, no-repeat;
	background-attachment: fixed, fixed;
	background-position: center center, center center;
	background-size: auto, cover;
	-webkit-background-size: auto, cover;
	-moz-background-size: auto, cover;
	-o-background-size: auto, cover;
	min-height: 100%;
	height: auto;
}

body {
	font-family: Open Sans Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #dedede;
}


/* Settings Menu */

.swapLog.active, .swapLog.active:hover, .swapLog:hover{
	background-color: rgba(204, 123, 25, 1) !important;
	border-color: rgba(204, 123, 25, 1) !important;
	color: #FFF !important;
}

.dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_paginate, .dataTables_wrapper .dataTables_paginate .paginate_button, .dataTables_wrapper .dataTables_processing, .dd-handle, .footable.breakpoint>tbody>tr>td>span.footable-toggle, pre{
	color: #949494;
}

#managePluginTable .pluginManagement td button,
#manageThemeTable .themeManagement td button,
#manageUserTable .userManagement td button,
#manageGroupTable .userManagement td button{
	border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
	color: #FFF !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	background-color: rgba(255,255,255,.15);
	border-color: rgba(255,255,255,.05);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	background-color: rgba(204, 123, 25, 1);
	border-color: rgba(204, 123, 25, 1);
}

.el-element-overlay .el-card-item .el-overlay-1 .el-info>li a:hover{
	background-color: rgba(204, 123, 25, 1);
	border-color: rgba(204, 123, 25, 1);
}

.bg-info {
	background-color: rgba(204, 123, 25, 1) !important;
}

.btn-success, .btn-success.disabled, .btn-success:hover, .btn-success.disabled:hover, .btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success.focus, .btn-success.focus:active, .btn-success:active:focus, .btn-success:active:hover, .btn-success:focus, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover{
	background: rgba(204, 123, 25, 1);
}

.bg-title {
	border: none;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 5.5px;
	background-color: #162027;
}

.bg-title h4 {
	color: #FFF;
	font-family: Open Sans Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.tabs-style-flip nav li.tab-current a {
	background: rgba(204, 123, 25, 1);
	border-radius: 5px 5px 0 0;
}

.content-wrap section.content-current {
	background: #2c3135;
}

.bg-org {
	background-color: #2c3135 !important;
}

.bootstrap-tagsinput,
.calendar-widget,
.chat-main-box,
.content-wrap,
.css-bar:after,
.daterangepicker .input-mini,
.dropify-wrapper,
.dropify-wrapper .dropify-preview,
.dropzone,
.footer,
.form-control,
.jsgrid-alt-row>td,
.jsgrid-header-row>th,
.jsgrid-row>td,
.list-group-item,
.list-group-item.disabled,
.list-group-item.disabled:focus,
.list-group-item.disabled:hover,
.manage-table,
.modal-content,
.myadmin-dd .dd-list .dd-item .dd-handle,
.myadmin-dd-empty .dd-list .dd3-content,
.myadmin-dd-empty .dd-list .dd3-handle,
.pager li>a,
.pager li>span,
.pagination>li>a,
.pagination>li>span,
.panel,
.panel .panel-footer,
.panel-default .panel-body,
.panel-default .panel-footer,
.panel-default .panel-heading,
.panel-footer textarea,
.panel-white .panel-body,
.panel-white .panel-footer,
.panel-white .panel-heading,
.radio label::before,
.select2-container-multi .select2-choices,
.table tbody tr.advance-table-row td,
.thumbnail,
.well,
.white-box,
input,
pre,
select,
table.dataTable.display tbody tr.odd,
table.dataTable.stripe tbody tr.odd {
	background-color: rgba(35, 36, 38, .8);
	border: none;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.customtab li.active a,
.customtab li.active a:focus,
.customtab li.active a:hover,
.nav-tabs>li.active>a:focus {
	background: rgb(57, 62, 66);
	border: none;
}

.panel-blue .panel-heading,
.panel-info .panel-heading {
	border-color: rgba(204, 123, 25, 1);
	color: #fff;
	background-color: #2c3135;
}

section[id*="settings"] .tab-content>.tab-pane {
	transform: translateY(-20px);
}

.asColorPicker-dropdown,
.checkbox label::before,
.clockpicker-popover .popover-content,
.clockpicker-popover .popover-title,
.customvtab .tabs-vertical li.active a,
.customvtab .tabs-vertical li.active a:focus,
.customvtab .tabs-vertical li.active a:hover,
.dropdown-menu,
.footable-row-detail,
.img-thumbnail,
.input-group-addon,
.jsgrid-filter-row>td,
.jsgrid-header-sortable:hover,
.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover,
.pager .disabled>a,
.pager .disabled>a:focus,
.pager .disabled>a:hover,
.pager .disabled>span,
.pager li>a:focus,
.pager li>a:hover,
.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover,
.popover,
.popover-title,
.right-sidebar,
code,
table.dataTable tbody tr {
	background: rgb(49, 54, 58);
	color: #FFF;
}

.nav-tabs>li>a {
	color: #b1b1b1;
	border-radius: 4px;
}

.customtab2 li.active a,
.customtab2 li.active a:focus,
.customtab2 li.active a:hover {
	border-radius: 4px;
}

.panel-body {
	background-color: #162027;
	color: #dedede;
}

.tabs-style-flip nav a {
	color: #b1b1b1;
}

.bg-title .breadcrumb a,
.daterangepicker .input-mini,
.dd-handle,
.dd3-content,
.dropify-wrapper,
.form-control,
.panel-default .panel-heading,
.panel-white .panel-heading,
.select2-container .select2-choice,
.steamline .sl-right div>a,
.white-box .box-title,
a.list-group-item,
button.list-group-item,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #b1b1b1;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	background-color: rgba(0, 0, 0, 0.3);
}

.table-hover>tbody>tr:hover,
.table-striped>tbody>tr:nth-of-type(odd),
.table>tbody>tr.active>td,
.table>tbody>tr.active>th,
.table>tbody>tr>td.active,
.table>tbody>tr>th.active,
.table>tfoot>tr.active>td,
.table>tfoot>tr.active>th,
.table>tfoot>tr>td.active,
.table>tfoot>tr>th.active,
.table>thead>tr.active>td,
.table>thead>tr.active>th,
.table>thead>tr>td.active,
.table>thead>tr>th.active {
	background-color: rgb(51, 55, 59) !important;
}

.chat-list .chat-text,
.comment-center .comment-body:hover,
.feeds li:hover,
.sales-report {
	background: rgb(51, 55, 59)
}


/* Pop-ups */

.white-popup-block {
	background-color: rgb(49, 54, 58);
}

.mfp-close-btn-in .mfp-close {
	color: #FFF;
}

.mfp-content .white-popup div .panel-info .panel-body {
	background-image: url("https://archmonger.github.io/Blackberry-Flat/Resources/blur-noise.png"), url("https://archmonger.github.io/Blackberry-Flat/Resources/blur-light.png");
	background-repeat: repeat, no-repeat;
	background-attachment: fixed, fixed;
	background-position: center center, center center;
	background-size: auto, cover;
	-webkit-background-size: auto, cover;
	-moz-background-size: auto, cover;
	-o-background-size: auto, cover;
	min-height: 100%;
	height: auto;
}

.mfp-content .white-popup div .user-bg .col-xs-2 {
	float: unset;
	width: auto;
	bottom: 0;
	right: 0;
	position: absolute;
	display: none;
}

.mfp-content .white-popup div .user-bg .col-xs-10 {
	float: right;
	width: auto;
	margin-top: 5px;
	margin-right: 10px;
}

.bg-plex {
	background: #4e5d6c87;
	border: none;
}

.btn-youtube {
	background-color: #4e5d6c87 !important;
	border: none;
}

.bg-plex:hover {
	background: #4e5d6c;
	border: none;
}

.btn-youtube:hover {
	background-color: #4e5d6c !important;
	border: none;
}

span.badge.bg-org.m-r-10 {
	background-color: #4e5d6cbd !important;
	padding: 6px;
}


/* Homepage */

.btn.default.refreshImage {
	color: #dedede;
}

.btn.default.refreshImage:hover {
	color: #FFF;
}

.panel {
	background-color: rgba(0, 0, 0, 0);
}

.recent-title {
	display: block;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	border-radius: 0px 0px 5px 5px;
	padding: 8px 12px;
	color: #f3f3f3;
	background: rgba(35, 36, 38, .8);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.recent-poster {
	margin-bottom: 56px;
	border-radius: 5px 5px 0px 0px;
  background-color: #1b1a1a;
}

.recent-items .owl-item {
	height: auto;
}

.owl-item:hover {
	transform: scale(1.05);
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transition: 0.15s ease-in-out;
}

.owl-stage {
	margin: 7px 4px;
}

.col-md-12 {
	padding-left: 19px;
}

.outside-request-div {
	border-radius: 0 5px 0 0;
}

hr {
	border-color: rgba(0, 0, 0, 0);
}

.btn-info,
.btn-info.disabled {
	background: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
	border-radius: 4px !important;
}

.btn-info.disabled.focus,
.btn-info.disabled:focus,
.btn-info.disabled:hover,
.btn-info.focus,
.btn-info:focus,
.btn-info:hover {
	opacity: 1;
	background: rgba(255, 255, 255, 0.08);
	border-color: rgba(0, 0, 0, 0);
}

.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info.focus,
.btn-info.focus:active,
.btn-info:active:focus,
.btn-info:active:hover,
.btn-info:focus,
.open>.dropdown-toggle.btn-info.focus,
.open>.dropdown-toggle.btn-info:focus,
.open>.dropdown-toggle.btn-info:hover {
	opacity: 1;
	background: rgba(255, 255, 255, 0.15);
	border-color: rgba(0, 0, 0, 0);
}

.pull-left {
	color: #e0e0e0;
}

.hover-homepage-item:hover {
	background: rgba(0, 0, 0, 0)
}

.fc-day {
	background-color: rgba(35, 36, 38, .65);
}

.fc-day-grid-event .fc-time {
	font-weight: normal;
}

.fc-unthemed .fc-today {
	background-color: rgba(39, 42, 46, 0.6) !important;
}

.text-info {
	color: #929a9c;
}

.text-success {
	color: #53e69d;
}

div[class*="fc"] .text-danger {
	color: #929a9c;
}

.btn-link,
a {
	color: rgba(204, 123, 25, 1);
}

a.fc-day-number,
.fc-day-header a {
	color: #FFF;
}

.fc-day-header span {
	color: #FFF;
}

.fc-day-grid .fc-event {
	padding: 4px 15px 12px 15px;
}

.fc-center h2 {
	font-family: Open Sans Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #dedede;
}

.fc th,
.fc td {
	border-color: rgba(35, 36, 38, .8) !important;
}

.table tbody tr.advance-table-row.active,
.fc-button {
	background-color: rgba(0, 0, 0, 0) !important;
	border: none;
	box-shadow: none;
	color: #dedede;
	opacity: 1;
	font-family: Open Sans Light, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.fc-button:hover {
	color: #FFF;
	opacity: 1;
	background: rgba(255, 255, 255, 0.05) !important;
	border-radius: 4px;
}

.fc-toolbar{
	background: rgba(0,0,0,.15);
}

div[id*="homepageOrder"] .bg-info{
    background-color: rgba(0,0,0,.15) !important;
}

#scroll {
	background-color: rgba(204, 123, 25, 0.5);
}

#scroll:hover {
	background-color: rgba(204, 123, 25, 0.75);
}


/* Login Screen */

.login-box {
    background: #2c3135;
}

.login-box .white-box{
	background-color: rgba(0,0,0,0);
}

.text-primary, .text-purple {
    color: rgb(249, 190, 3);
}

a.text-primary:hover, .text-purple:hover {
    color: #ffc36d;
}

.btn-primary, .btn-primary.disabled{
	background: rgba(204, 123, 25, 1);
	border-color: rgba(204, 123, 25, 1);
}

.btn-primary:hover, .btn-primary.disabled:hover, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary.focus, .btn-primary.focus:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:focus, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
	background: rgb(255, 161, 45);
	border-color: rgb(255, 161, 45);
}

.checkbox-primary input[type=checkbox]:checked+label::before{
	background-color: rgba(204, 123, 25, 1);
	border-color: rgba(204, 123, 25, 1);
}
