:root {
  --bg-light: radial-gradient(at bottom center, rgba(0, 0, 0, 0.4) 0%, hsla(211, 18%, 45%, 0.55), hsla(211, 18%, 5%, 0)), linear-gradient(to right, hsla(211, 18%, 5%, 1), hsla(211, 18%, 45%, 1), hsla(211, 18%, 5%, 1));
  --bg-dark: radial-gradient(at bottom center, rgba(0, 0, 0, 0.4) 0%, hsla(211, 18%, 45%, 0.55), hsla(211, 18%, 5%, 0)), linear-gradient(to right, hsla(211, 18%, 5%, 1), hsla(211, 18%, 45%, 1), hsla(211, 18%, 5%, 1));
  --navbar-color: linear-gradient(90deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.15));
  --sidenav-bg: linear-gradient(180deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.15));
  --sidenav-layer-2-bg: transparent;
  --sidenav-bg-fallback: linear-gradient(180deg, rgb(15, 17, 20), hsla(210, 17%, 12.5%, 1), rgb(38, 46, 54));
  --sidenav-layer-2-bg-fallback: transparent;
}