:root {
  --bg-light: linear-gradient(135deg, #252b2f, #090c0e);
  --bg-dark: linear-gradient(135deg, #252b2f, #090c0e);
  --navbar-color: #121719;
  --sidenav-bg: linear-gradient(180deg, rgba(18, 23, 25, 1), rgba(18, 23, 25, 0.75), rgba(18, 23, 25, 0.3), rgba(18, 23, 25, 0.3), rgba(0, 0, 0, 0));
  --sidenav-layer-2-bg: transparent;
  --sidenav-bg-fallback: linear-gradient(180deg, rgba(18, 23, 25, 1), rgb(22, 28, 29), rgb(27, 33, 36), rgb(26, 33, 35), rgb(30, 35, 39));
  --sidenav-layer-2-bg-fallback: transparent;
}