/* Created by Blackberry Themes */
:root {
  --bg-light: radial-gradient(at top center, rgba(0, 0, 0, 0), hsla(0, 14%, 18%, 0.2), hsla(0, 18%, 5%, 1) 95%), radial-gradient(at bottom center, rgba(0, 0, 0, 0.15), hsla(0, 14%, 18%, 0.45), hsla(0, 18%, 5%, 0.6)), linear-gradient(to top, #e2c9cc 1%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
  --bg-dark: linear-gradient(135deg, #252b2f, #090c0e);
  --navbar-color: linear-gradient(90deg, rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.05), rgba(0, 0, 0, .23));
  --sidenav-bg: linear-gradient(180deg, rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.13), rgba(0, 0, 0, .23));
  --sidenav-layer-2-bg: transparent;
  --sidenav-bg-fallback: linear-gradient(180deg, rgb(17, 12, 15), rgb(33, 13, 22), rgb(41, 18, 23), rgb(29, 18, 20), rgb(11, 8, 8));
  --sidenav-layer-2-bg-fallback: transparent;
}