/* Created by Blackberry Themes */

:root {
    --bg-light: url("https://raw.githubusercontent.com/gilbN/theme.park/master/resources/blur-noise.png") repeat scroll 0% 0%, radial-gradient(circle at 0% 100%, rgba(54, 66, 84, 0.55) 0%, rgba(54, 66, 84, 0.043) 70%, rgba(54, 66, 84, 0) 80%), radial-gradient(circle at 100% 100%, rgba(113, 135, 153, 0.55) 0%, rgba(113, 135, 153, 0.043) 70%, rgba(113, 135, 153, 0) 80%), radial-gradient(circle at 100% 0%, rgba(54, 66, 84, 0.55) 0%, rgba(54, 66, 84, 0.043) 70%, rgba(54, 66, 84, 0) 80%), radial-gradient(circle at 0% 0%, rgba(91, 114, 135, 0.55) 0%, rgba(91, 114, 135, 0.043) 70%, rgba(91, 114, 135, 0) 80%), rgb(0, 0, 0) center center/cover no-repeat fixed;
    --bg-dark: url("https://raw.githubusercontent.com/gilbN/theme.park/master/resources/blur-noise.png") repeat scroll 0% 0%, radial-gradient(circle at 0% 100%, rgba(54, 66, 84, 0.55) 0%, rgba(54, 66, 84, 0.043) 70%, rgba(54, 66, 84, 0) 80%), radial-gradient(circle at 100% 100%, rgba(113, 135, 153, 0.55) 0%, rgba(113, 135, 153, 0.043) 70%, rgba(113, 135, 153, 0) 80%), radial-gradient(circle at 100% 0%, rgba(54, 66, 84, 0.55) 0%, rgba(54, 66, 84, 0.043) 70%, rgba(54, 66, 84, 0) 80%), radial-gradient(circle at 0% 0%, rgba(91, 114, 135, 0.55) 0%, rgba(91, 114, 135, 0.043) 70%, rgba(91, 114, 135, 0) 80%), rgb(0, 0, 0) center center/cover no-repeat fixed;
    --sidenav-bg: rgba(0, 0, 0, 0.2);
    --sidenav-layer-2-bg: transparent;
    --sidenav-backdrop-filter: blur(30px);
    --sidenav-bg-fallback: url("https://archmonger.github.io/Blackberry-Themes/Resources/blur-noise.png") center center fixed, url("https://archmonger.github.io/Blackberry-Themes/Resources/blur-light.png") center center/cover no-repeat fixed;
    --sidenav-layer-2-bg-fallback: transparent;
    --sidenav-btn-glow: rgba(255, 255, 255, 0.3);
    --login-bg: 0 0;
    --color-focused: #f9be03;
    --color-hyperlink: #cc7b19;
    --color-danger: #ac3323;
    --color-danger-hover: #ce3d2a;
    --font-color-primary: rgba(255, 255, 255, .8);
    --font-color-secondary: rgba(255, 255, 255, .7);
    --font-color-subtext: rgba(255, 255, 255, .45);
    --btn-color: rgba(255, 255, 255, 0.25);
    --btn-color-hover: rgba(255, 255, 255, 0.3);
    --btn-color-focused: #cc7b19;
    --btn-color-focused-hover: #e3891c;
    --navbar-color: rgba(0, 0, 0, 0.6);
    --floating-object-color: rgba(0, 0, 0, .15);
    --floating-object-color-hover: rgba(255, 255, 255, .08);
    --floating-object-dark-color: rgba(0, 0, 0, .3);
    --input-box-color: rgba(255, 255, 255, .25);
    --input-box-color-focus: #FFF;
    --input-box-font-color-focus: rgba(85, 85, 85);
}