.message {
    color: #FFF;
}
#login {
    background-image: url("https://archmonger.github.io/Blackberry-Themes/Resources/blur-noise.png"), url("https://archmonger.github.io/Blackberry-Themes/Resources/blur-light.png");
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    min-height: 100%;
    height: auto;
    background-color: rgba(0,0,0,.0);
}
body {
    color: #FFFFFF;
    font-family: Open Sans Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
}
#login input[type=password], #login input[type=text] {
    color: white !important;
    background-color: rgba(0,0,0,0.15) !important;
    border: none;
}
button, input[type=submit]{
    background: #cc7b19;
    color: hsla(0,0%,100%,.7);
    transition: 0.2s;
}
button:hover, input[type=submit]:hover{
    background: #cc7b19;
    color: #FFF;
}
html {
    background-image: url("https://archmonger.github.io/Blackberry-Themes/Resources/blur-noise.png"), url("https://archmonger.github.io/Blackberry-Themes/Resources/blur-light.png");
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    min-height: 100%;
    height: auto;
    background-color: rgba(0,0,0,.0);
}
body{
    background-color: rgba(0,0,0,.0);
}
nav {
    background-color: rgba(0,0,0,.15);
    height: 100%;
    top: 60px;
    width: 240px;
}
nav .action{
    color:rgba(255, 255, 255, 0.737);
    font-size: 13px;
    font-family: Open Sans Semibold,Helvetica Neue,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 0px;
    padding-bottom: 0px;
}
nav .action:hover{
    background-color:rgba(255, 255, 255, 0.05);
}
nav>div{
    border-top: none;
}
header{
    background-color: rgb(22, 32, 39);
    height: 60px;
}
header>div:first-child{
    height: 60px;
}
body{
    padding-top: 60px;
}
#search #input {
    background-color: #f5f5f5;
    display: flex;
    padding: 10px;
}
.action{
    color: #FFF;
}
#listing.list .item{
    background-color: rgba(0,0,0,.15);
    color:rgb(238, 238, 238);
    border: none;
}
#listing.list .item:hover{
    background-color:rgba(255, 255, 255, 0.08);
    color:rgb(238, 238, 238);
    border: none;
    transition: .4s;
}
#listing.list .item.header{
    background-color: rgb(47, 63, 71);
    color:rgb(238, 238, 238);
    border-bottom: none;
    right: auto;
}
.material-icons, .prompt .file-list ul li:before{
    color: rgba(255, 255, 255, 0.85);
}
#listing .item[aria-selected=true]{
    background-color: #cc7b19 !important;
}
#listing h2{
    color: rgb(238, 238, 238);
}
#breadcrumbs span a{
    color: rgb(238, 238, 238);
}
#listing .item{
    background-color: rgba(0,0,0,.15);
    color:rgb(238, 238, 238);
    border: none;
}
#search #result{
    background-image: url("https://archmonger.github.io/Blackberry-Themes/Resources/blur-noise.png"), url("https://archmonger.github.io/Blackberry-Themes/Resources/blur-light.png");
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    background-color: rgba(0,0,0,.0);
    color: rgb(238, 238, 238);
}
#search .boxes{
    background-color: rgba(0,0,0,.15);
    padding: 15px;
}
#search .boxes h3{
    color: rgb(238, 238, 238);
}
#search .boxes>div>div{
    background-color: rgba(0,0,0,.10);
}
#search.active #input{
    background-color: #2d2d2d;
    height: 60px;
    color: white;
}
#search.active i, #search.active input{
    color: rgba(255, 255, 255, 0.85);
}
#search #result>div>:first-child{
    margin-top: 10px;
}
.card{
    background-color: rgba(0,0,0,.15);
}
.card h3{
    color: rgb(238, 238, 238);
}
select {
    color: rgb(238, 238, 238);
}
input, textarea, select, button{
    color: rgb(238, 238, 238);
}
.collapsible>label *{
    color: rgb(238, 238, 238);
}
a{
    color: rgba(255, 255, 255, 0.85);
}
table th{
    color: rgba(255, 255, 255, 0.85);
}
.card.floating{
    background-color: rgb(22, 32, 39);
}
#search #input {
    background-color:rgba(255, 255, 255, 0.08);
}

#listing.mosaic .item{
    box-shadow: none !important;
}
#listing.mosaic .item:hover{
    box-shadow: none !important;
    background-color: rgba(255,255,255,0.08);
}

@media (max-width: 736px){
nav{
    background-color: black;
}
#dropdown.active{
    background-color: black;
}
}

@media (min-width: 1024px){
    main{
        margin-left: 270px;
    }
}
@media (max-width: 1024px){
    nav{
        width: 175px;
    }
}
