@import "https://archmonger.github.io/Blackberry-Themes/Themes/Blackberry-Flat/bbf_plex.css";
/* In Organizr customizations start here */
div[class*="NavBar-right-"] {
  padding-right: 7px;
}
[class*="SidebarMenuButton-sidebarMenuButton-"] {
  background-color: rgba(0, 0, 0, .15);
}
span[class*="SidebarMenuButton-sidebarMenuSecondaryTitle-"] {
  display: none;
}
/* Better transitions on sidebar hover */
div[class*="SidebarLibraryItem-libraryListItem-"] {
  transition: all 0.3s ease;
}
/* Remove account button */
button[class*="NavBar-accountButton"] {
  display: none !important;
}
/* Smaller navbar */
@media only screen and (min-width: 768px) {
  div[class*="NavBar-container"] {
    height: 45px;
  }
  div[class*="QuickSearchInput-container"] {
    height: 35px;
  }
  span[class*="NavBarActivityButton-label"] {
    top: 23px;
  }
}
/* Static BG */
.background-container div[class*="FullPage-container-"] div div div {
  background-image: url("https://archmonger.github.io/Blackberry-Themes/Resources/blur-noise.png"), url("https://archmonger.github.io/Blackberry-Themes/Resources/blur-light.png") !important;
  background-repeat: repeat, no-repeat !important;
  background-attachment: fixed, fixed !important;
  background-position: center center, center center !important;
  background-size: auto, cover !important;
  -webkit-background-size: auto, cover !important;
  -moz-background-size: auto, cover !important;
  -o-background-size: auto, cover !important;
}
/* Stylize loading screen */
.plex-preloader-container {
  background-color: rgba(0, 0, 0, 0);
}
body {
  background-color: rgba(0, 0, 0, 0);
}
.plex-image-preloader.plex-logo {
  background-image: url("https://archmonger.github.io/Blackberry-Themes/Resources/Rolling-0.7s-200px.svg");
  background-size: 4.5%;
}
/* Stylize Pin Screen */
.modal-backdrop {
  background-image: url("https://archmonger.github.io/Blackberry-Themes/Resources/blur-noise.png"), url("https://archmonger.github.io/Blackberry-Themes/Resources/blur-light.png") !important;
  background-repeat: repeat, no-repeat !important;
  background-attachment: fixed, fixed !important;
  background-position: center center, center center !important;
  background-size: auto, cover !important;
  -webkit-background-size: auto, cover !important;
  -moz-background-size: auto, cover !important;
  -o-background-size: auto, cover !important;
}
.user-select-modal-pin-container .modal-body {
  padding: 20px;
  padding-bottom: 0px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}
.user-select-modal-pin-container .pin-digit {
  background: hsla(0, 0%, 100%, 0.15);
}