/* Base Layer */
body {
  background-image: url("https://archmonger.github.io/Blackberry-Themes/Resources/blur-noise.png"), url("https://archmonger.github.io/Blackberry-Themes/Resources/blur-light.png");
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: center center, center center;
  background-size: auto, cover;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
  min-height: 100%;
  height: auto;
}
/* Navbar */
.navbar {
  background-color: #162027;
  height: 60px;
  display: flex;
  align-items: center;
}
.navbar .container {
  margin: 0px;
  padding-left: 5px;
}
.navbar .nav {
  float: left;
}
.navbar-default .navbar-nav .active a {
  background-color: transparent !important;
  color: #f9be03;
}
.navbar-default .navbar-nav .active a:hover {
  background-color: rgba(39, 43, 46, 0.8);
}
.navbar-default .navbar-nav>li>a {
  color: hsla(0, 0%, 100%, .7);
  font-size: 14px;
  padding-top: 0px;
  padding-bottom: 0px;
  transition: all 0.25s ease;
}
.navbar-default .navbar-nav>li a:focus,
.navbar-default .navbar-nav>li a:hover {
  background-color: transparent;
  color: #FFF;
}
/*Removal of 1px line under menu and rounding all buttons in submenu*/
.nav-tabs {
  border-bottom: transparent;
}
button.btn.config-button.config-api-button.btn-default {
  border-radius: 6px 6px 6px 6px;
  border-bottom-color: #1a1f20;
  background-color: rgba(39, 43, 46, 0.8);
}
button.btn.config-button.config-help-button.btn-default {
  border-radius: 6px 6px 6px 6px;
  border-bottom-color: #1a1f20;
  background-color: rgba(39, 43, 46, 0.8);
}
.config-button {
  border-radius: 6px 6px 6px 6px;
  border-bottom-color: #1a1f20;
}
/*Hide UI Theme Option in Config/Main*/
/*Hide docker error and update button*/
div.alert.alert-warning.ng-scope {
  display: none;
}
button.btn.btn-default.ng-scope {
  display: none;
}
/*Tabel Edit*/
.formly>.formly-field-group {
  background-color: rgba(45, 52, 54, 0.2);
  border: 0px;
}
.repeatsection {
  background-color: rgba(45, 52, 54, 0.2);
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background-color: #cc7b19;
  color: #c8c8c8;
}
.btn-success {
  background-color: #cc7b19;
  border-color: #cc7b19;
}
.btn-success:focus,
.btn-success:active,
.btn-success:hover {
  background-color: #cc7b19;
  border-color: #cc7b19;
  filter: brightness(85%);
}