/* Base Layer */
body {
  background-image: url("https://archmonger.github.io/Blackberry-Themes/Resources/blur-noise.png"), url("https://archmonger.github.io/Blackberry-Themes/Resources/blur-light.png");
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: center center, center center;
  background-size: auto, cover;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
  min-height: 100%;
  height: auto;
}
/* Search tab */
.btn {
  border: none;
  background-color: hsla(0, 0%, 100%, .25);
  color: hsla(0, 0%, 100%, .7);
  text-transform: uppercase;
  transition-timing-function: ease;
  transition-duration: 0.25s;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default, .open>.dropdown-toggle.btn-default:hover {
  color: #fff !important;
  background-color: hsla(0, 0%, 100%, .3) !important;
}
.input-group-addon {
  border: none;
  background-color: rgba(0, 0, 0, 0.15);
  color: hsla(0, 0%, 100%, .7);
  text-transform: uppercase;
}
.input-group-btn1, .input-group-btn2 {
  border: none;
  background-color: transparent;
}
.form-control {
  border: none;
  background-color: transparent;
}
.col-sm-3 .form-control {
  background-color: hsla(0, 0%, 100%, .25);
  transition-timing-function: ease;
  transition-duration: 0.25s;
  color: rgba(255, 255, 255, 0.7);
}
.col-sm-3 .form-control:focus {
  background-color: hsla(0, 0%, 100%, .3);
  color: #FFF;
}
.form-horizontal .form-group .col-sm-10 .input-group-btn1 .btn,
.form-horizontal .form-group .col-sm-10 .input-group-btn2 .btn {
  background-color: rgba(0, 0, 0, 0.2);
  color: hsla(0, 0%, 100%, .7);
  text-transform: uppercase;
  transition-timing-function: ease;
  transition-duration: 0.25s;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  border-radius: 4px;
}
.form-horizontal .form-group .col-sm-10 .input-group-btn1 .btn:hover,
.form-horizontal .form-group .col-sm-10 .input-group-btn2 .btn:hover {
  background-color: rgba(0, 0, 0, 0.12);
}
.form-horizontal .form-group:focus-within .col-sm-10 .input-group-btn1 .btn,
.form-horizontal .form-group:focus-within .col-sm-10 .input-group-btn2 .btn {
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: #FFF;
}
.form-horizontal .form-group .col-sm-10 .input-group {
  background-color: hsla(0, 0%, 100%, .25);
  border-radius: 4px;
  padding: 4.5px 16px;
  transition-timing-function: ease;
  transition-duration: 0.25s;
}
.form-horizontal .col-sm-10 .input-group:focus-within {
  background-color: #FFF !important;
}
.form-control:focus {
  box-shadow: none;
}
#searchfield {
  color: #FFF;
  box-shadow: none;
}
#searchfield:focus {
  color: #000;
}
/* Navbar */
.navbar {
  background-color: #162027;
  height: 60px;
  display: flex;
  align-items: center;
}
.navbar .container {
  margin: 0px;
  padding-left: 5px;
  width: 100% !important;
}
.navbar .nav {
  float: left;
}
.navbar-default .navbar-nav .active a {
  background-color: transparent !important;
  color: #f9be03;
}
.navbar-default .navbar-nav .active a:hover {
  background-color: rgba(39, 43, 46, 0.8);
}
.navbar-default .navbar-nav>li>a {
  color: hsla(0, 0%, 100%, .7);
  font-size: 14px;
  padding-top: 0px;
  padding-bottom: 0px;
  transition: all 0.25s ease;
}
.navbar-default .navbar-nav>li a:focus,
.navbar-default .navbar-nav>li a:hover {
  background-color: transparent;
  color: #FFF;
}
/*Removal of 1px line under menu and rounding all buttons in submenu*/
.nav-tabs {
  border-bottom: transparent;
}
button.btn.config-button.config-api-button.btn-default {
  border-radius: 6px 6px 6px 6px;
  border-bottom-color: #1a1f20;
  background-color: rgba(39, 43, 46, 0.8);
}
button.btn.config-button.config-help-button.btn-default {
  border-radius: 6px 6px 6px 6px;
  border-bottom-color: #1a1f20;
  background-color: rgba(39, 43, 46, 0.8);
}
.config-button {
  border-radius: 6px 6px 6px 6px;
  border-bottom-color: #1a1f20;
}
/*Hide UI Theme Option in Config/Main*/
/*Hide docker error and update button*/
div.alert.alert-warning.ng-scope {
  display: none;
}
button.btn.btn-default.ng-scope {
  display: none;
}
/*Tabel Edit*/
.formly>.formly-field-group {
  background-color: rgba(45, 52, 54, 0.2);
  border: 0px;
}
.repeatsection {
  background-color: rgba(45, 52, 54, 0.2);
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background-color: #cc7b19;
  color: #c8c8c8;
}
.btn-success {
  background-color: #cc7b19;
  border-color: #cc7b19;
}
.btn-success:focus,
.btn-success:active,
.btn-success:hover {
  background-color: #cc7b19;
  border-color: #cc7b19;
  filter: brightness(85%);
}
/*scrollbars*/
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, .2);
}
::-webkit-scrollbar-thumb {
  min-height: 50px;
  background-color: rgba(255, 255, 255, .15);
  border: 3px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}
pre::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, .2);
}
pre::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .15);
}