@import "https://archmonger.github.io/Blackberry-Themes/Themes/Blackberry-Flat/bbf_filebrowser.css";
/* In Organizr customizations start here */
header div img {
  display: none;
}
@media only screen and (min-width: 768px) {
  header {
    height: 45px;
  }
  #search #input {
    padding-top: 5.5px;
    padding-bottom: 5.5px;
  }
  #search {
    height: 35px;
  }
  header>div:first-child {
    height: 45px;
    padding-top: 3px;
  }
  body {
    padding-top: 45px;
  }
  nav {
    top: 45px;
  }
  #listing .item.header {
    transform: translateY(-18px);
  }
}