@import "https://archmonger.github.io/Blackberry-Themes/Themes/Blackberry-Flat/bbf_tautulli.css";
/* In Organizr customizations start here */
.art-face {
  background: none !important;
}
.body-container {
  top: 45px;
}
.navbar-collapse.collapse {
  height: 45px !important;
}
.navbar-nav>li>a {
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  color: hsla(0, 0%, 100%, .7);
}
#search_form {
  padding-top: 5.5px;
  padding-bottom: 5.5px;
}
.navbar-brand {
  display: none;
}
.navbar {
  min-height: 45px;
}
/* Re-order Navbar Elements */
@media (min-width: 768px) {
  .navbar-collapse.navbar-right.collapse {
    float: left !important;
    width: 100%;
  }
  .navbar-collapse.navbar-right.collapse>.nav.navbar-nav {
    width: 100%;
    margin-left: -19px;
  }
  .navbar-collapse.navbar-right.collapse>.nav.navbar-nav>li:nth-of-type(8) {
    position: absolute;
    right: 4px;
    top: 0px;
  }
  .navbar-collapse.navbar-right.collapse>.nav.navbar-nav>li:nth-of-type(1) {
    float: right;
    transform: translateX(-45px);
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .navbar-collapse.navbar-right.collapse>.nav.navbar-nav>li:nth-of-type(8) {
    float: right;
    transform: translateX(19px);
  }
}