/* Created by Blackberry Themes */
@import "https://archmonger.github.io/Blackberry-Themes/Themes/Blackberry-Flat/jackett.css";
/* In Organizr customizations start here */
#page>div.input-area:nth-child(10), #page>hr {
  display: none;
}
#logo, #header-title {
  visibility: hidden;
}
/* Hide BG */
body {
  background: transparent;
}