/* Created by Blackberry Themes */

@import "https://archmonger.github.io/Blackberry-Themes/Themes/Blackberry-Flat/nzbhydra.css";
.navbar {
    height: 45px;
}

#banner {
    display: none;
}

#loading-bar,
#loading-bar-spinner {
    display: none;
}