/* Created by Blackberry Themes */
@import "https://archmonger.github.io/Blackberry-Themes/Resources/Variables/bbf_variables.css";
.nav-bar>ul>li>a.plex-pass-btn {
  display: none !important;
  visibility: hidden;
  opacity: 0;
}
button[class*="plexPassButton"] {
  display: none;
  visibility: hidden;
  opacity: 0;
}
div[class*="NavBar-buttonSeparator-"] {
  display: none;
}
@media only screen and (max-width: 768px) {
  /* Navbar Searchbar */
  div[class*="QuickSearch-container"] {
    display: block;
    width: 40px;
    transform: translateX(-10px);
    transition-timing-function: ease;
    transition-duration: 0.25s;
    margin-top: 2.5px;
  }
  i[class*="QuickSearchInput-searchIcon"] {
    margin-left: 9px;
    color: hsla(0, 0%, 100%, .7);
  }
  div[class*="QuickSearch-container"]:focus-within {
    display: block;
    width: calc(100vw - 120px);
    margin-right: 20px;
    transform: translateX(0px);
  }
  div[class*="QuickSearchInput-container"] {
    height: 35px;
    background: rgba(0, 0, 0, 0);
  }
  div[class*="QuickSearchInput-container"]:focus-within {
    background: #FFF;
  }
  div[class*="QuickSearchProvider-title"], a[class*="QuickSearchPlaceholderLink-placeholder"] {
    width: auto;
  }
  div[class*="QuickSearch-container"] div[class*="QuickSearchResults-container"] {
    display: none;
  }
  div[class*="QuickSearch-container"]:focus-within div[class*="QuickSearchResults-container"] {
    display: block;
  }
  div[class*="QuickSearch-container"] input[data-qa-id="quickSearchInput"] {
    color: rgba(0, 0, 0, 0);
  }
  div[class*="QuickSearch-container"]:focus-within input[data-qa-id="quickSearchInput"] {
    color: #555;
  }
  div[class*="QuickSearch-container"] button {
    display: none;
  }
  div[class*="QuickSearch-container"]:focus-within button {
    display: block;
  }
  /*Homepage, sidenav, and misc*/
  .server-settings-container label {
    padding-left: 20px;
    display: block;
  }
  .card-sortable {
    height: auto;
  }
  .sessions-list-container {
    zoom: 0.65;
  }
  button[data-qa-id="sidebarLibraryMoreButton"] {
    display: none;
  }
  [class*="NavBarActivityButton-label-"] {
    top: 20px !important;
  }
  button[class*="Button-button-"][class*="Link-link-"][class*="Button-primary-"][class*="Button-medium-"][class*="Link-link-"][class*="Link-default-"] {
    display: none !important;
  }
  .nav-dropdown .dropdown-poster-toggle {
    height: 40px !important;
    padding-left: 10px !important;
  }
  .nav-bar {
    background: rgba(0, 0, 0, 0.0);
  }
  [class*="NavBar-container-"] {
    height: 40px !important;
  }
  [class*="DashboardPage-dashboardPageContent-"] {
    padding: 0 20px 20px;
  }
  [class*="SidebarList-sidebarListHeader-"] {
    font-size: 12px;
    padding-left: 5px;
  }
  [class*="SidebarMenuButton-sidebarMenuButton-"] {
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
  }
  [class*="SidebarContainer-sidebarContainer-"] {
    width: 130px;
    flex: 0 130px;
    -webkit-flex: 0 0 130px;
  }
  [class*="LibraryPageJumpBar-jumpBar-"] {
    display: none;
  }
  [class*="MetadataListPageContent-metadataListScroller"][class*="MetadataListPageContent-hasGutter-"] {
    right: 0;
  }
  [class*="PageHeader-pageHeader-"] {
    height: 40px !important;
    padding-left: 5px;
  }
  [class*="SidebarLink-sidebarLink-"] {
    padding-left: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
  }
  [class*="SidebarMenuButton-sidebarMenuPrimaryTitleContainer-"] {
    white-space: nowrap;
  }
  div[class*="SidebarLink-children"] {
    display: none;
  }
  body {
    line-height: 1.1;
    font-size: 12px
  }
  [class*="Page-page-"] {
    font-size: 11px;
  }
  .nav-header>li>a {
    font-size: 13px;
    line-height: 25px;
    display: inline;
  }
  [class*="SidebarMenuButton-sidebarMenuSecondaryTitle-"] {
    font-size: 10px;
  }
  .nav-bar {
    font-size: 20px
  }
  .dropdown-poster-toggle .media-poster {
    width: 25px;
    height: 25px;
  }
  [class*="FullPage-container-"] {
    font-size: 10px;
  }
  [class*="ServerSidebar-sidebarContent-"] {
    padding-top: 0px;
    padding-left: 5px;
  }
  [class*="PageContent-innerPageContent-"] {
    padding: 20px;
  }
  [class*="MetadataPosterCell-continueWatchingTitleContainer-"] {
    font-size: 10px;
  }
  [class*="MetadataPosterCell-titleContainer-"] {
    font-size: 10px;
  }
  .nav-bar-nav>li>a {
    line-height: 40px;
  }
  [class*="PageHeader-pageHeader-"] {
    height: 40px;
  }
  [class*="DisclosureArrow-disclosureArrow-"][class*="DisclosureArrow-medium-20Idw.DisclosureArrow-up-L-"] {
    display: none;
  }
  [class*="DisclosureArrowButton-disclosureArrowButton-"][class*="DisclosureArrowButton-medium-"] {
    padding-right: 0px;
  }
  [class*="PageHeaderBreadcrumbButton-button-"] {
    margin-right: 0px;
  }
  [class*="MetadataPosterTitle-singleLineTitle-"] {
    height: 14px;
    font-size: 11px;
    max-width: 100%;
  }
  [class*="HubCellHeader-hubCellHeader-"] {
    padding: 0px 0 0px 5px;
  }
  [class*="PrePlayMetadataContent-content-"] {
    padding-left: 0px;
  }
  div[class*="SidebarLink-title-"] {
    font-size: 11px;
  }
  [class*="SidebarServerLibraries-librariesTitle-"] {
    overflow: visible !important;
  }
  div[class*="SidebarLibrariesActions-actions-"] {
    display: none;
  }
  div[class*="ManageLibrarySummary-iconContainer"] {
    display: none;
  }
  div[class*="ManageLibrariesPane-header"] {
    padding-left: 0px;
  }
  div[class*="ServerAvatar-avatar"] {
    display: none;
  }
  .alerts-container .page-count {
    display: none;
  }
  div[class*="ClaimedServer-message"] {
    position: relative;
    margin-bottom: 12px;
  }
  button[class*="ClaimedServer-button"] {
    margin-top: 50px;
    position: absolute;
  }
  div[class*="HubCell-hubCell-"] {
    margin-bottom: 20px;
  }
  div[class*="HubCell-hubCell-"]:first-of-type {
    margin-top: 0px;
  }
  /* #######  Individual Media Items  ####### */
  div[class*="Menu-menuScroller"] {
    max-height: 350px !important;
  }
  div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="PageContent-innerPageContent-"]>div>div:not([class*="PrePlay"]) {
    position: relative !important;
    top: 0px !important;
    padding-top: 10px;
  }
  div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="PrePlayMetadataContent-content-"] {
    padding-left: 0px !important;
    padding-top: 20px !important;
  }
  div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="MetadataPosterCard-card-"] {
    margin: auto !important;
  }
  div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="PrePlayMetadataContent-content-"] {
    line-height: 1.25 !important;
  }
  div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="PrePlayMetadataInnerContent-innerContent-"] {
    padding: 0 !important;
  }
  div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="PrePlaySecondaryTitle-secondaryTitle-"] {
    display: inline !important;
  }
  div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="PrePlayRatingRightTitle-ratingRightTitle-"] {
    display: inline-block !important;
    margin-left: 0px !important;
  }
  div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="MetadataPosterCardOverlay-background-"] {
    display: none !important;
  }
  div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="MetadataPosterCardOverlay-unplayedBadge-"] {
    text-align: right !important;
    min-width: 0% !important;
    float: right !important;
  }
  div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="PrePlayDetailsGroupItem-label-"] {
    flex: 0 0 58px !important;
    -webkit-flex: 0 0 58px !important;
  }
  div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="PrePlayDetailsGroupItem-content-"] {
    font-size: 12px !important;
  }
  div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="PrePlayTertiaryTitle-tertiaryTitle-"] {
    font-size: 12px !important;
  }
  div[class*="PrePlayPageContent-prePlayPageContent-"] span[class*="PrePlayRatingRightTitle-starRating-"] {
    display: none !important;
  }
  div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="PrePlayRatingRightTitle-criticRating-"] {
    margin-left: 0px !important;
  }
  div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="PrePlayLeftTitle-leftTitle-"] {
    white-space: normal !important;
  }
  div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="PrePlayTertiaryTitle-tertiaryTitle-"] div[class*="PrePlayRightTitle-rightTitle-"] {
    display: none;
  }
  div[class*="PrePlayPageContent-prePlayPageContent-"] a[class*="PrePlayStatusButton-statusButton-"] {
    display: none;
  }
  div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="PrePlaySummary-summary-"] {
    font-size: 12px !important;
  }
  div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="PrePlaySecondaryTitle-secondaryTitle-"] {
    font-size: 12px !important;
  }
  div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="PrePlayTertiaryTitle-tertiaryTitle-"] {
    margin-top: -25px !important;
  }
  div[class*="PrePlayPageContent-prePlayPageContent-"] span[class*="PrePlayRatingRightTitle-criticRating-"] {
    display: none !important;
  }
  span[class*="MetadataPosterTitle-isSplitLine-"] {
    display: none !important;
  }
  div[class*="PageHeaderLeft-pageHeaderLeft-"] {
    display: none !important;
  }
  button[class*="MenuItem-menuItem-"] {
    padding: 15px 20px;
  }
  div[class*="HubCellTitle-hubCellTitle-"], div[class*="HubCellTitle-hubCellTitle-"] a {
    font-size: 12px !important;
  }
  div[class*="HubCell-hubActions-"] {
    display: none !important;
  }
  button[data-qa-id="toolbarToggleArtwork"] {
    display: none !important;
  }
  div[class*="PrePlayArtwork-imageContainer-"] {
    display: none !important;
  }
  div[class*="PageHeaderRight-pageHeaderRight-"] div[class*="PrePlayPageHeader-divider-"] {
    display: none !important;
  }
  div[class*="PrePlayPageContent-prePlayPageContent-"] div[class*="PrePlaySecondaryTitle-secondaryTitle-"] div[class*="PrePlayLeftTitle-leftTitle-"] {
    color: hsla(0, 0%, 100%, .45);
  }
  .PrePlayDetailsGroup-group-3i0Tj {
    display: none;
  }
  button[class*="MetadataListStylesMenu-"] {
    display: none;
  }
  div[class*="PrePlayPageHeader-listStylesArrowsDivider"] {
    display: none;
  }
  div[class*="PageHeaderDivider-pageHeaderDivider"] {
    display: none;
  }
}
/* BBF Customizations start here */
div[class*="NavBar-container-"] {
  background: var(--navbar-color) !important;
  ;
}
.nav-dropdown .dropdown-poster-toggle {
  display: none;
}
div[data-qa-id*="hub--home.newscast"] {
  display: none;
}
/* Set BG image */
.background-container div[class*="FullPage-container-"] div div {
  background: var(--bg-light) !important;
}