.sidebar-nav .nav li a .fa-sign-out:before {
    display: block;
    content: url(https://archmonger.github.io/Blackberry-Flat/Resources/transparent.png);
    background-image: url(https://archmonger.github.io/Blackberry-Flat/Icons/bbf_signout.png);
    font-size: larger;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center, center center;
    -webkit-background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
}
.sidebar-nav .nav li a .fa-sign-out{
    margin-right: 3px;
}
